

.card {
  padding: 0;
  margin-left: 80px;
  width: 22rem;
  float: left;
  position: relative;
  overflow: hidden;
}

.priceTag{
  position: relative;
    font-family: "VAGRoundedStd-Bold", Arial;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
}
/*img{
  width: 80px;
  height: 200px
}*/
